* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9FF8D1;
    border-radius: 20px;
    padding: 3%;
    font-weight: bold;
    width: 15%;

    & div {
        margin-right: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}