* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

main {
  padding: 0.75rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
}

aside {
  width: 250px; /* Reduzindo a largura */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.75rem;
  gap: 1rem;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

img {
  width: 100px;
}

.buttonArea,
.selectedButtonArea {
  width: 100%;
  height: 60px; /* Ajustando altura */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.buttonArea:hover {
  cursor: pointer;
  background-color: #9ed3fc;
}

.selectedButtonArea:hover {
  cursor: pointer;
  background-color: #9ed3fc;
}

.buttonArea {
  background-color: #2269a1;
}

.selectedButtonArea {
  background-color: #2269a1;
}

.upperSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.informativeField {
  display: flex;
  flex-direction: column;
  background-color: #2269a1;
  width: 300px;
  height: 85px;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.number {
  font-size: x-large;
  margin: 0;
}

.informativeNumber {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.row {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

.labelText {
  font-size: 0.875rem;
  color: #595959;
}

.divCentral {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-3 {
  gap: 3rem;
}

.divConvencional {
  width: 50%;
  border-right: 1px solid black;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  gap: 1rem;
}

.divPreferencial {
  width: 50%;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  gap: 1rem;
}

.underline {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define 2 colunas */
  grid-template-rows: repeat(4, 1fr); /* Define 4 linhas */
  gap: 1rem; /* Espaçamento entre os itens */
  padding: 10px; /* Padding dentro do grid */
}

.grid-item-convencional {
  background-color: #d9ebfc;
  border-radius: 1rem;
  font-size: larger;
  width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-preferencial {
  background-color: #ffddc6;
  border-radius: 1rem;
  font-size: larger;
  width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
